.App {
  text-align: left;
  margin: 25px 0 0 40px;
  border: 1px solid brown;
  width: 400px;
}
.radio{
  margin: 10px 0 0 40px;
}
.result{
  border-top: 1px solid brown;
  padding: 10px;
  min-height: 250px;
}









