.addPerson-input{
    display: flex;
}
.addPerson-name{
     height: 15px;
     display: flex;
     margin: 0 5px 5px 0;
}
.addPerson-price{
      display: flex;
      width: 70px;
      height: 15px;
      text-align: right;
      margin: 0 5px 5px 0;
}
.addPerson-delete{
     height: 25px;
}