.total-order{
    display: flex;
    flex-direction: column;
}
.total-class{
     display: inline-flex;
     margin: 5px;
     width: 100px;
 }
.total-input{
      width: 70px;
      text-align: right;
  }
.total-btn{
    width: 100px;
    margin: 10px;
}